{% extends "main_app/base_page.html" %}
{% load static %}

{% block title %}{{ data_text.title_page }}{% endblock %}

{% block navigation %}
    <div class="rd-navbar-nav-wrap">
        <!-- RD Navbar Nav-->
        <ul class="rd-navbar-nav">
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/">{{ data_text.nav_link_home }}</a>
            </li>
            <li class="rd-nav-item active">
                <a class="rd-nav-link" href="/about-us/">{{ data_text.nav_link_about_us }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/news/">{{ data_text.nav_link_news }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/contact/">{{ data_text.nav_link_contact }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <section class="section-page-title" style="background-image: url({% static '/main_app/images/page-title-3-1920x305.jpg' %}); background-size: cover;">
        <div class="container">
            <h1 class="page-title">{{ data_text.title_page }}</h1>
        </div>
    </section>
    <section class="breadcrumbs-custom">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li>
                    <a href="/">{{ data_text.nav_link_home }}</a>
                </li>
                <li class="active">{{ data_text.nav_link_about_us }}</li>
            </ul>
        </div>
    </section>

    {% if who_we_are %}
        {% include "html_app/who_we_are.html" %}
    {% endif %}

    {% if video_presentation %}
        {% include "html_app/video_presentation.html" %}
    {% endif %}

    {% if our_team %}
        {% include "main_app/modules/staff.html" %}
    {% endif %}

<!--
    <section class="section section-lg bg-default">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-6">
                    <div class="block-xs">
                    <h2 class="heading-decorate">Testimonials
                        <br class="d-inline">
                        <span class="divider"></span>of Our Clients
                    </h2>
                    <p class="big text-gray-800">Thanks to our clients’ regular reviews, testimonials, and comments we are able to improve our salon.</p>
                    <p>Unlike other salons, we prefer to maintain a constant connection with our customers and receive feedback on every service, whether it’s a simple haircut or complex wedding makeup. If you’ve already visited Glory, feel free to contact us and send your testimonial.</p>
                    </div>
                </div>
                <div class="col-lg-6"> -->
                    <!-- Owl Carousel -->
                    <!-- <div class="owl-carousel carousel-corporate" data-items="1" data-dots="true" data-nav="false" data-stage-padding="10px" data-loop="true" data-autoplay="true" data-margin="25px" data-mouse-drag="false">
                        <div class="quote-corporate">
                            <div class="quote-header">
                                <h4>Jennifer Moreno</h4>
                                <p class="big">Client</p>
                            </div>
                            <div class="quote-body">
                                <div class="quote-text">
                                    <p>I love my eyebrow design. I'm usually very picky about my eyebrows and not everyone can give me what I want. You are amazing. Thank you for the amazing job you’ve done, I’ll be recommending you to my friends from now on!</p>
                                </div>
                                <svg class="quote-body-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="66px" height="49px" viewbox="0 0 66 49" enable-background="new 0 0 66 49" xml:space="preserve">
                                    <g></g>
                                    <path d="M36.903,49v-3.098c9.203-5.315,14.885-12.055,17.042-20.222c-2.335,1.524-4.459,2.288-6.37,2.288 c-3.186,0-5.875-1.29-8.071-3.876c-2.194-2.583-3.293-5.74-3.293-9.479c0-4.133,1.443-7.605,4.327-10.407 C43.425,1.405,46.973,0,51.185,0c4.213,0,7.735,1.784,10.566,5.352C64.585,8.919,66,13.359,66,18.669 c0,7.482-2.85,14.183-8.549,20.112C51.751,44.706,44.902,48.112,36.903,49z M0.69,49v-3.098 c9.205-5.315,14.887-12.055,17.044-20.222c-2.335,1.524-4.478,2.288-6.423,2.288c-3.152,0-5.823-1.29-8.02-3.876 C1.096,21.51,0,18.353,0,14.614c0-4.133,1.434-7.605,4.301-10.407C7.168,1.405,10.709,0,14.92,0c4.247,0,7.778,1.784,10.592,5.352 c2.814,3.567,4.223,8.007,4.223,13.317c0,7.482-2.843,14.183-8.524,20.112C15.53,44.706,8.69,48.112,0.69,49z"></path>
                                </svg>
                            </div>
                            <div class="quote-image">
                                <img src="{% static '/main_app/images/home-1-10-90x90.jpg' %}" alt="" width="90" height="90"/>
                            </div>
                        </div>
                        <div class="quote-corporate">
                            <div class="quote-header">
                                <h4>Mary Matthews</h4>
                                <p class="big">Client</p>
                            </div>
                            <div class="quote-body">
                                <div class="quote-text">
                                    <p>Janette cut my hair and did partial highlights and my experience was excellent! She took her time doing my hair and I am very pleased with the results. If you are still looking where to have your hair cut the best way, head for Glory!</p>
                                </div>
                                <svg class="quote-body-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="66px" height="49px" viewbox="0 0 66 49" enable-background="new 0 0 66 49" xml:space="preserve">
                                    <g></g>
                                    <path d="M36.903,49v-3.098c9.203-5.315,14.885-12.055,17.042-20.222c-2.335,1.524-4.459,2.288-6.37,2.288 c-3.186,0-5.875-1.29-8.071-3.876c-2.194-2.583-3.293-5.74-3.293-9.479c0-4.133,1.443-7.605,4.327-10.407 C43.425,1.405,46.973,0,51.185,0c4.213,0,7.735,1.784,10.566,5.352C64.585,8.919,66,13.359,66,18.669 c0,7.482-2.85,14.183-8.549,20.112C51.751,44.706,44.902,48.112,36.903,49z M0.69,49v-3.098 c9.205-5.315,14.887-12.055,17.044-20.222c-2.335,1.524-4.478,2.288-6.423,2.288c-3.152,0-5.823-1.29-8.02-3.876 C1.096,21.51,0,18.353,0,14.614c0-4.133,1.434-7.605,4.301-10.407C7.168,1.405,10.709,0,14.92,0c4.247,0,7.778,1.784,10.592,5.352 c2.814,3.567,4.223,8.007,4.223,13.317c0,7.482-2.843,14.183-8.524,20.112C15.53,44.706,8.69,48.112,0.69,49z"></path>
                                </svg>
                            </div>
                            <div class="quote-image">
                                <img src="{% static '/main_app/images/home-1-11-90x90.jpg' %}" alt="" width="90" height="90"/>
                            </div>
                        </div>
                        <div class="quote-corporate">
                            <div class="quote-header">
                                <h4>Amanda Smith</h4>
                                <p class="big">Client</p>
                            </div>
                            <div class="quote-body">
                                <div class="quote-text">
                                    <p>Thank you for the first-rate beauty service! I am very happy with the outcome. I feel fortunate to have met someone with years of training in makeup who is also bright and knowledgeable enough to determine my perfect style.</p>
                                </div>
                                <svg class="quote-body-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="66px" height="49px" viewbox="0 0 66 49" enable-background="new 0 0 66 49" xml:space="preserve">
                                    <g></g>
                                    <path d="M36.903,49v-3.098c9.203-5.315,14.885-12.055,17.042-20.222c-2.335,1.524-4.459,2.288-6.37,2.288 c-3.186,0-5.875-1.29-8.071-3.876c-2.194-2.583-3.293-5.74-3.293-9.479c0-4.133,1.443-7.605,4.327-10.407 C43.425,1.405,46.973,0,51.185,0c4.213,0,7.735,1.784,10.566,5.352C64.585,8.919,66,13.359,66,18.669 c0,7.482-2.85,14.183-8.549,20.112C51.751,44.706,44.902,48.112,36.903,49z M0.69,49v-3.098 c9.205-5.315,14.887-12.055,17.044-20.222c-2.335,1.524-4.478,2.288-6.423,2.288c-3.152,0-5.823-1.29-8.02-3.876 C1.096,21.51,0,18.353,0,14.614c0-4.133,1.434-7.605,4.301-10.407C7.168,1.405,10.709,0,14.92,0c4.247,0,7.778,1.784,10.592,5.352 c2.814,3.567,4.223,8.007,4.223,13.317c0,7.482-2.843,14.183-8.524,20.112C15.53,44.706,8.69,48.112,0.69,49z"></path>
                                </svg>
                            </div>
                            <div class="quote-image">
                                <img src="{% static '/main_app/images/home-1-12-90x90.jpg' %}" alt="" width="90" height="90"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
{% endblock %}