<!DOCTYPE html>
<html class="wide wow-animation" lang="ru">
<head>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>{% block title %}{{ title_page }}{% endblock %}</title>
    {% load static %}
    <!-- Stylesheets-->
    <link rel="icon" href="{% static 'main_app/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300i,400,400i,700%7CMontserrat:400,500,600,700%7CPlayfair+Display:400,700,700i%7COswald:400,700,700i">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <style>
        .ie-panel {
        display: none;
        background: #212121;
        padding: 10px 0;
        box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
        clear: both;
        text-align:center;
        position: relative;
        z-index: 1;
        }
        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
    </style>
</head>
<body>
<div class="ie-panel">
    <a href="http://windows.microsoft.com/en-US/internet-explorer/">
        <img src="{% static 'main_app/images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
    </a>
</div>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-jumping">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<div class="page">
    <!-- Page Header-->
    <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse">
                    <span></span>
                </div>
                <div class="rd-navbar-aside-outer rd-navbar-collapse">
                    <div class="rd-navbar-aside">
                        <div class="header-info">
                            <ul class="list-inline list-inline-md">
                                <li>
                                    <div class="unit unit-spacing-xs align-items-center">
                                        <div class="unit-left font-weight-bold">{{ data_text.title_free_call }}</div>
                                        <div class="unit-body">
                                            <a href="tel:#">{{ data_text.text_free_call }}</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-spacing-xs align-items-center">
                                        <div class="unit-left font-weight-bold">{{ data_text.title_work }}</div>
                                        <div class="unit-body">
                                            <ul class="list-xs">
                                                <li>{{ data_text.title_hours }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="social-block">
                            <ul class="list-inline">
                                <li>
                                    <a class="icon fa-facebook" href="https://www.facebook.com/" target="_blank"></a>
                                </li>
                                <li>
                                    <a class="icon fa-twitter" href="https://twitter.com/?lang=ru" target="_blank"></a>
                                </li>
                                <li>
                                    <a class="icon fa-google-plus" href="https://myaccount.google.com/" target="_blank"></a>
                                </li>
                                <li>
                                    <a class="icon fa-vimeo" href="https://vimeo.com/" target="_blank"></a>
                                </li>
                                <li>
                                    <a class="icon fa-youtube" href="https://www.youtube.com/" target="_blank"></a>
                                </li>
                                <li>
                                    <a class="icon fa-pinterest-p" href="https://www.pinterest.com/" target="_blank"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                                <span></span>
                            </button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <a class="brand" href="/">
                                    <img src="{% static 'main_app/images/logo-dark-main-257x84.png' %}" alt="" width="257" height="84"/>
                                </a>
                            </div>
                        </div>
                        <div class="rd-navbar-main-element">
                            {% block navigation %}
                                {{ data_text.text_navigation }}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% block content %}
        {{ data_text.text_content }}
    {% endblock %}
    <footer class="bg-gray-100 section-xs text-center">
        <div class="container">
            <p class="rights">
                <span>&copy;&nbsp;</span>
                <span class="copyright-year"></span>{{ data_text.text_designed }}<a href="">{{ data_text.text_name_designed }}</a>
            </p>
        </div>
    </footer>
</div>
<!-- Global Mailform Output -->
<!-- <div class="snackbars" id="form-output-global"></div> -->
<!-- Javascript -->
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>