{% extends "main_app/base_page.html" %}
{% load static %}

{% block title %}{{ data_text.title_page }}{% endblock %}

{% block navigation %}
    <div class="rd-navbar-nav-wrap">
        <!-- RD Navbar Nav-->
        <ul class="rd-navbar-nav">
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/">{{ data_text.nav_link_home }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/about-us/">{{ data_text.nav_link_about_us }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/news/">{{ data_text.nav_link_news }}</a>
            </li>
            <li class="rd-nav-item active">
                <a class="rd-nav-link" href="/contact/">{{ data_text.nav_link_contact }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <section class="section-page-title" style="background-image: url({% static '/main_app/images/page-title-4-1920x305.jpg' %}); background-size: cover;">
        <div class="container">
            <h1 class="page-title">{{ data_text.text_h1 }}
            </h1>
        </div>
    </section>
    <section class="breadcrumbs-custom">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li>
                    <a href="/">{{ data_text.text_home_page }}</a>
                </li>
                <li class="active">{{ data_text.text_current_page }}</li>
            </ul>
        </div>
    </section>
    {% if messages %}
        <section style="background-color: #cef1eb;" class="mt-3 {{ message.tags }} breadcrumbs-custom alert fade show" role="alert">
            <div class="container">
                {% for message in messages %}
                    {% if message.tags %}
                        <div class="breadcrumbs-custom-path" style="color: #151515; padding-left: 17px; padding-right:17px;">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
    <!-- Mailform-->
    <section class="section section-md">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-8">
                    <h2>{{ data_text.text_h2 }}</h2>
                    <div class="divider-lg"></div>
                    <p>{{ data_text.text_message_1 }}
                        <br class="d-none d-lg-inline">
                        {{ data_text.text_message_2 }}
                    </p>
                    <!-- RD Mailform-->
                    <form class="text-left" method="post">
                        {% csrf_token %}
                        <div class="row row-30">
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    <label class="form-label" for="contact-name">{{ data_text.text_name }}</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    <label class="form-label" for="contact-sec-name">{{ data_text.text_sec_name }}</label>
                                    {{ form.second_name }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    <label class="form-label" for="contact-phone">{{ data_text.text_phone }}</label>
                                    {{ form.telephone }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    <label class="form-label" for="contact-email">{{ data_text.text_email }}</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-wrap">
                                    <label class="form-label" for="contact-message">{{ data_text.text_contact_message }}</label>
                                    {{ form.message }}
                                </div>
                            </div>
                        </div>
                        <div class="form-button group-sm text-left">
                            <button class="button button-primary" type="submit">{{ data_text.text_btn_submit }}</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <ul class="contact-list">
                        <li>
                            <p class="contact-list-title">{{ data_text.title_address }}</p>
                            <div class="contact-list-content">
                                <span class="icon mdi mdi-map-marker icon-primary"></span>
                                <a href="#">{{ data_text.info_address }}</a>
                            </div>
                        </li>
                        <li>
                            <p class="contact-list-title">{{ data_text.title_phone }}</p>
                            <div class="contact-list-content">
                                <span class="icon mdi mdi-phone icon-primary"></span>
                                <a href="tel:#">{{ data_text.info_phone_1 }}</a><span>, </span>
                                <a href="tel:#">{{ data_text.info_phone_2 }}</a>
                            </div>
                        </li>
                        <li>
                            <p class="contact-list-title">{{ data_text.title_email }}</p>
                            <div class="contact-list-content">
                                <span class="icon mdi mdi-email-outline icon-primary"></span>
                                <a href="mailto:#">{{ data_text.info_email }}</a>
                            </div>
                        </li>
                        <li>
                            <p class="contact-list-title">{{ data_text.title_work_hours }}</p>
                            <div class="contact-list-content">
                                <span class="icon mdi mdi-clock icon-primary"></span>
                                <ul class="list-xs">{{ data_text.info_work_hours|safe }}</ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
