{% extends "main_app/base_page.html" %}
{% load static %}

{% block title %}{{ data_text.title_page }}&nbsp;{{ staff.name}}{% endblock %}

{% block navigation %}
    <div class="rd-navbar-nav-wrap">
        <!-- RD Navbar Nav-->
        <ul class="rd-navbar-nav">
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/">{{ data_text.nav_link_home }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/about-us/">{{ data_text.nav_link_about_us }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/news/">{{ data_text.nav_link_news }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/contact/">{{ data_text.nav_link_contact }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <section class="section-page-title" style="background-image: url({% static '/main_app/images/page-title-4-1920x305.jpg' %}); background-size: cover;">
        <div class="container">
            <h1 class="page-title">{{ data_text.text_h1 }}
            </h1>
        </div>
    </section>
    <section class="breadcrumbs-custom">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li>
                    <a href="/">{{ data_text.text_home_page }}</a>
                </li>
                <li>
                    <a href="/staff/">{{ data_text.text_staff_page }}</a>
                </li>
                <li class="active">{{ staff.name}}</li>
            </ul>
        </div>
    </section>
    <section class="section bg-default text-center pt-5 pb-5">
        <div class="container">
            <h2>{{ staff.name}}&nbsp;({{ staff.name_position}})</h2>
            <div class="divider-lg"></div>
            <p class="block-lg"></p>
            <div class="row row-50 pt-4">
                <div class="col-lg-6">
                    <div class="block-xs">
                        <img src="{{staff.image.url}}" alt="{{ staff.name}} - ({{ staff.name_position}})"/>
                    </div>
                </div>
                <div class="col-lg-6 text-left">
                    <div class="block-xs">
                        <p class="text-gray-800">{{ staff.description|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
