{% extends "main_app/base_page.html" %}
{% load static %}

{% block title %}{{ data_text.title_page }}{% endblock %}

{% block navigation %}
    <div class="rd-navbar-nav-wrap">
        <!-- RD Navbar Nav-->
        <ul class="rd-navbar-nav">
            <li class="rd-nav-item active">
                <a class="rd-nav-link" href="/">{{ data_text.nav_link_home }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/about-us/">{{ data_text.nav_link_about_us}}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/news/">{{ data_text.nav_link_news }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/contact/">{{ data_text.nav_link_contact }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    {% if big_slider %}
        {% include "html_app/big_slider.html" %}
    {% endif %}

    {% if choose_us %}
        {% include "html_app/why_our_clients_choose_us.html" %}
    {% endif %}

    {% if beauty_services %}
        {% include "html_app/a_variety_of_beauty_services.html" %}
    {% endif %}

    {% if our_team %}
        {% include "main_app/modules/staff.html" %}
    {% endif %}

    {% if beauty_salon %}
        {% include "html_app/our_beauty_salon.html" %}
    {% endif %}

{% endblock %}
