{% extends "main_app/base_page.html" %}
{% load static %}

{% block title %}{{ data_text.title_page }}{% endblock %}

{% block navigation %}
    <div class="rd-navbar-nav-wrap">
        <!-- RD Navbar Nav-->
        <ul class="rd-navbar-nav">
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/">{{ data_text.nav_link_home }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/about-us/">{{ data_text.nav_link_about_us }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/news/">{{ data_text.nav_link_news }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/contact/">{{ data_text.nav_link_contact }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <section class="section-page-title" style="background-image: url({% static '/main_app/images/page-title-4-1920x305.jpg' %}); background-size: cover;">
        <div class="container">
            <h1 class="page-title">{{ data_text.text_h1 }}
            </h1>
        </div>
    </section>
    <section class="breadcrumbs-custom">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li>
                    <a href="/">{{ data_text.text_home_page }}</a>
                </li>
                <li class="active">{{ data_text.text_current_page }}</li>
            </ul>
        </div>
    </section>
    <section class="section bg-default text-center pt-5 pb-5">
        <div class="container">
            <h3>{{ data_text.text_h2 }}</h3>
            <div class="divider-lg"></div>
            <p class="block-lg">{{ data_text.title_description }}</p>
            <div class="row row-50 pt-4">
                {% for staff in our_team %}
                    <div class="col-lg-4">
                        <div class="block-xs">
                            <div class="team-minimal team-minimal-with-shadow">
                                <figure>
                                    <img src="{{staff.image.url}}" alt="">
                                </figure>
                                <div class="team-minimal-caption">
                                    <h4 class="team-title">
                                        <a href="/staff/{{staff.slug}}/">{{staff.name}}</a>
                                    </h4>
                                    <p>{{staff.name_position}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
