{% extends "main_app/base_page.html" %}
{% load static %}

{% block title %}{{ data_text.title_page }}{% endblock %}

{% block navigation %}
    <div class="rd-navbar-nav-wrap">
        <!-- RD Navbar Nav-->
        <ul class="rd-navbar-nav">
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/">{{ data_text.nav_link_home }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/about-us/">{{ data_text.nav_link_about_us }}</a>
            </li>
            <li class="rd-nav-item active">
                <a class="rd-nav-link" href="/news/">{{ data_text.nav_link_news }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/contact/">{{ data_text.nav_link_contact }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <section class="section-page-title" style="background-image: url({% static '/main_app/images/page-title-4-1920x305.jpg' %}); background-size: cover;">
        <div class="container">
            <h1 class="page-title">{{ data_text.text_h1 }}</h1>
        </div>
    </section>
    <section class="breadcrumbs-custom">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li>
                    <a href="/">{{ data_text.text_home_page }}</a>
                </li>
                <li class="active">{{ data_text.text_current_page }}</li>
            </ul>
        </div>
    </section>
    <section class="section section-lg bg-default">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row row-40">
                        {% for article in articles %}
                            <div class="col-md-6">
                                <img src="{{ article.image.url }}" alt="{{ article.title }}" width="770" height="485">
                            </div>
                            <div class="col-md-6">
                                <a href="/news/{{ article.slug }}">
                                    <h4>{{ article.title|safe|linebreaks }}</h4>
                                </a>
                                <p class="text-gray-800">
                                    {{ article.text|safe|linebreaks|truncatechars:900 }}&nbsp;
                                    <a href="/news/{{ article.slug }}">{{ data_text.link_more }}</a>
                                </p>
                                <p style="font-size: 13px;">
                                    {{ data_text.text_date_published }}&nbsp;
                                    {{ article.date|date:"d-m-Y" }}&nbsp;
                                    {{ data_text.text_in }}&nbsp;
                                    {{ article.date|date:"H:i:s" }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include "news_app/modules/pagination.html" %}
{% endblock %}
