{% extends "main_app/base_page.html" %}
{% load static %}

{% block title %}{{ articles.title }}{% endblock %}

{% block navigation %}
    <div class="rd-navbar-nav-wrap">
        <!-- RD Navbar Nav-->
        <ul class="rd-navbar-nav">
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/">{{ data_text.nav_link_home }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/about-us/">{{ data_text.nav_link_about_us }}</a>
            </li>
            <li class="rd-nav-item active">
                <a class="rd-nav-link" href="/news/">{{ data_text.nav_link_news }}</a>
            </li>
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="/contact/">{{ data_text.nav_link_contact }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <section class="section-page-title" style="background-image: url({% static '/main_app/images/page-title-4-1920x305.jpg' %}); background-size: cover;">
        <div class="container">
            <h1 class="page-title">{{ articles.title }}</h1>
        </div>
    </section>
    <section class="breadcrumbs-custom">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li>
                    <a href="/">{{ data_text.text_home_page }}</a>
                </li>
                <li>
                    <a href="/news/">{{ data_text.text_current_page }}</a>
                </li>
                <li class="active">{{ articles.title }}</li>
            </ul>
        </div>
    </section>
    <section class="section bg-default pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 pb-5 text-center">
                    <div class="row row-40">
                        <div class="col-md-12">
                            <img src="{{ articles.image.url }}" alt="{{ articles.title }}" width="770" height="485">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row row-40">
                        <div class="col-md-12">
                            <p class="text-gray-800">{{ articles.text|safe|linebreaks }}</p>
                            <p style="font-size: 13px;" class="text-gray-800">
                                {{ data_text.text_date_published }}&nbsp;
                                {{ articles.date|date:"d-m-Y" }}&nbsp;
                                {{ data_text.text_in }}&nbsp;
                                {{ articles.date|date:"H:i:s" }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
