{% load static %}
<section class="section section-md bg-default text-center">
    <div class="container">
        <h2>{{ data_text.title_team }}</h2>
        <div class="divider-lg"></div>
        <p class="block-lg">{{ data_text.text_team }}</p>
    </div>
    <div class="container">
        <div class="row row-20">
            <div class="col-12">
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-carousel-center" data-items="1" data-md-items="3" data-xl-items="5" data-dots="false" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="false" data-center="true" data-autoplay="true">
                    {% for staff in our_team %}
                        <div class="team-minimal">
                            <figure>
                                <img src="{{staff.image.url}}" alt="" width="370" height="370">
                            </figure>
                            <div class="team-minimal-caption">
                                <h4 class="team-title">
                                    <a href="/staff/{{staff.slug}}/">{{staff.name}}</a>
                                </h4>
                                <p>{{staff.name_position}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12">
                <a class="button button-primary" href="/staff/">{{ data_text.all_team }}</a>
            </div>
        </div>
    </div>
</section>