{% load static %}
<section class="section section-lg bg-default">
    <div class="container">
        <div class="row row-50 align-items-lg-center justify-content-xl-between">
            <div class="col-lg-6">
                <div class="block-xs">
                    {% if beauty_services.name_title_html %}
                        <h2 class="heading-decorate">{{ beauty_services.name_title_html|safe }}</h2>
                    {% endif %}
                    {% if beauty_services.description_1 %}
                        <p class="big text-gray-800">{{ beauty_services.description_1|safe }}</p>
                    {% endif %}
                    {% if beauty_services.description_2 %}
                        <p>{{ beauty_services.description_2|safe }}</p>
                    {% endif %}
                    {% if beauty_services.article_url %}
                        <a class="button button-primary" href="{{ beauty_services.article_url }}">{{ data_text.link_more }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box-images-classic">
                    <div class="row row-30">
                        <div class="col-6">
                            <div class="box-image-item" data-parallax-scroll="{&quot;y&quot;: 0, &quot;x&quot;: -20,  &quot;smoothness&quot;: 30 }">
                                {% if beauty_services.image_1 %}
                                    <img src="{{ beauty_services.image_1.url }}" alt="" width="270" height="458"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="box-image-item" data-parallax-scroll="{&quot;y&quot;: 0, &quot;x&quot;: 20,  &quot;smoothness&quot;: 30 }">
                                {% if beauty_services.image_2 %}
                                    <img src="{{ beauty_services.image_2.url }}" alt="" width="270" height="458"/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>