{% load static %}
<section class="section section-lg bg-gray-100">
    <div class="container">
        <div class="row row-xl-50">
            <div class="col-lg-6">
                <div class="row row-xl-50">
                    <div class="col-md-6 col-lg-12">
                        {% if beauty_salon.name_title_html %}
                            <h2 class="heading-decorate">
                                <span class="divider"></span>{{ beauty_salon.name_title_html|safe }}
                            </h2>
                        {% endif %}
                        {% if beauty_salon.description_1 %}
                            <p class="big text-gray-800">{{ beauty_salon.description_1|safe }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-lg-12">
                        <div class="quote-with-image">
                            <figure class="quote-img">
                                {% if beauty_salon.image_1 %}
                                    <img src="{{ beauty_salon.image_1.url }}" alt="" width="534" height="406"/>
                                {% endif %}
                            </figure>
                            <div class="quote-caption">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="88.34px" height="65.34px" viewBox="0 0 88.34 65.34" enable-background="new 0 0 88.34 65.34" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                                    <path d="M49.394,65.34v-4.131c12.318-7.088,19.924-16.074,22.811-26.965c-3.125,2.032-5.968,3.051-8.526,3.051	c-4.265,0-7.864-1.721-10.803-5.168c-2.937-3.444-4.407-7.654-4.407-12.64c0-5.511,1.932-10.142,5.791-13.878																	C58.123,1.873,62.873,0,68.51,0c5.639,0,10.354,2.379,14.143,7.137c3.793,4.757,5.688,10.678,5.688,17.758																	c0,9.977-3.814,18.912-11.443,26.818C69.268,59.613,60.101,64.156,49.394,65.34z M0.923,65.34v-4.131																	c12.321-7.088,19.926-16.074,22.813-26.965c-3.126,2.032-5.993,3.051-8.598,3.051c-4.219,0-7.794-1.721-10.734-5.168																	C1.467,28.683,0,24.473,0,19.487C0,13.976,1.919,9.346,5.757,5.609C9.595,1.873,14.334,0,19.971,0																	c5.685,0,10.41,2.379,14.178,7.137c3.767,4.757,5.652,10.678,5.652,17.758c0,9.977-3.805,18.912-11.409,26.818																	C20.787,59.613,11.632,64.156,0.923,65.34z"></path>
                                </svg>
                                <h3 class="quote-text text-right">Мы несем ответственность за качество получаемых вами услуг!</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row row-xl-50">
                    <div class="col-md-6 col-lg-12">
                        <figure class="block-image">
                            {% if beauty_salon.image_2 %}
                                <img src="{{ beauty_salon.image_2.url }}" alt="" width="541" height="369"/>
                            {% endif %}
                        </figure>
                        <p>
                            {% if beauty_salon.description_2 %}
                                {{ beauty_salon.description_2|safe }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-12">
                        <div class="box-video" data-lightgallery="group">
                            {% if beauty_salon.video_url %}
                                <a class="button-play" data-lightgallery="item" href="{{ beauty_salon.video_url }}"></a>
                            {% endif %}
                            {% if beauty_salon.video_img %}
                                <img src="{{ beauty_salon.video_img.url }}" alt="" width="541" height="369"/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>