{% load static %}
<section class="section parallax-container" data-parallax-img="{% if video_presentation.video_img %}{{ video_presentation.video_img.url }}{% endif %}">
    <div class="parallax-content section-lg context-dark text-center section-filter-dark">
        <div class="container">
        {% if video_presentation.name_title_html %}
            <h2>{{ video_presentation.name_title_html|safe }}</h2>
        {% endif %}
        <div class="divider-lg"></div>
        {% if video_presentation.description_1 %}
            <p class="block-lg">{{ video_presentation.description_1|safe }}</p>
        {% endif %}
        </div>
        <div class="container">
        <div class="box-video-button" data-lightgallery="group">
            {% if video_presentation.video_url %}
                <a class="button-play" data-lightgallery="item" href="{{ video_presentation.video_url }}">
                    <span class="icon fa-play"></span>
                </a>
            {% endif %}
        </div>
        </div>
    </div>
</section>