{% load static %}
<section class="section section-lg bg-default">
    <div class="container">
        <div class="row row-50 align-items-lg-center justify-content-xl-between">
            <div class="col-lg-6">
                <div class="block-xs">
                    {% if who_we_are.name_title_html %}
                        <h2>{{ who_we_are.name_title_html|safe }}</h2>
                    {% endif %}
                    <div class="divider-lg"></div>
                    {% if who_we_are.description_1 %}
                        <p class="big text-gray-800">{{ who_we_are.description_1|safe }}</p>
                    {% endif %}
                    {% if who_we_are.description_2 %}
                        <p>{{ who_we_are.description_2|safe }}</p>
                    {% endif %}
                </div>
                <div class="row row-30">
                    <div class="col-md-6">
                        <div class="box-contact-info-with-icon">
                            <span class="icon mdi mdi-clock icon-primary"></span>
                            <h5>{{ data_text.title_work }}</h5>
                            <ul class="list-xs">
                                <li>
                                    <span class="text-gray-800">{{ data_text.title_day_1 }}&nbsp;</span>{{ data_text.info_day_1 }}
                                </li>
                                <li>
                                    <span class="text-gray-800">{{ data_text.title_day_2 }}&nbsp;</span>{{ data_text.info_day_2 }}
                                </li>
                                <li>
                                    <span class="text-gray-800">{{ data_text.title_day_3 }}&nbsp;</span>{{ data_text.info_day_3 }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-contact-info-with-icon"><span class="icon mdi mdi-clock icon-primary"></span>
                            <h5>{{ data_text.our_location }}</h5>
                            <ul class="list-xs">
                                <li>
                                    <span class="text-gray-800">{{ data_text.title_address }}&nbsp;</span>{{ data_text.info_address }}
                                </li>
                                <li>
                                    <span class="text-gray-800">{{ data_text.title_offices }}&nbsp;</span>{{ data_text.info_offices }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box-images box-images-variant-3">
                    {% if who_we_are.image_1 %}
                        <div class="box-images-item" data-parallax-scroll="{&quot;y&quot;: -20,   &quot;smoothness&quot;: 30 }">
                            <img src="{{ who_we_are.image_1.url }}" alt="" width="470" height="282"/>
                        </div>
                    {% endif %}
                    {% if who_we_are.image_2 %}
                        <div class="box-images-item box-images-without-border" data-parallax-scroll="{&quot;y&quot;: 40,  &quot;smoothness&quot;: 30 }">
                            <img src="{{ who_we_are.image_2.url }}" alt="" width="470" height="282"/>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>