{% load static %}
<section class="section section-lg bg-gray-100">
    <div class="container">
        <div class="row row-50 align-items-lg-center justify-content-xl-between">
            <div class="col-lg-6 text-center">
                <div class="block-parallax-element">
                    <span class="prev-element" data-parallax-scroll="{&quot;y&quot;: -30, &quot;x&quot;: 0,  &quot;smoothness&quot;: 50 }"></span>
                    {% if choose_us.image_1 %}
                        <img src="{{ choose_us.image_1.url }}" alt="" width="378" height="463"/>
                    {% endif %}
                    <span class="next-element" data-parallax-scroll="{&quot;y&quot;: 30, &quot;x&quot;: 0,  &quot;smoothness&quot;: 50 }"></span>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5">
                {% if choose_us.name_title_html %}
                    <h2 class="heading-decorate">{{ choose_us.name_title_html|safe }}</h2>
                {% endif %}
                {% if choose_us.description_1 %}
                    <p class="big text-gray-800">{{ choose_us.description_1|safe }}</p>
                {% endif %}
                {% if choose_us.description_2 %}
                    <p class="text-spacing-60">{{ choose_us.description_2|safe }}</p>
                {% endif %}
                {% if choose_us.article_url %}
                    <a class="button button-primary" href="{{ choose_us.article_url }}">{{ data_text.link_more }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>