<section class="section bg-default pb-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="page-nav">
                        {% if articles.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ articles.previous_page_number }}">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <div class="page-link">
                                    <span>&laquo;</span>
                                </div>
                            </li>
                        {% endif %}

                        {% if articles.number|add:'-2' > 0 %}
                            <li class="page-item">
                                <div class="page-link">
                                    <span>...</span>
                                </div>
                            </li>
                        {% endif %}

                        {% if articles.number|add:'-1' > 0 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ articles.number|add:'-1' }}">
                                    <span>{{ articles.number|add:'-1' }}</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item active" >
                            <a class="page-link" href="?page={{ articles.number }}">{{ articles.number }}</a>
                        </li>

                        {% if articles.number|add:'1' <= articles.paginator.num_pages %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ articles.number|add:'1' }}">
                                    <span>{{ articles.number|add:'1' }}</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if articles.number|add:'2' <= articles.paginator.num_pages %}
                            <li class="page-item">
                                <div class="page-link">
                                    <span>...</span>
                                </div>
                            </li>
                        {% endif %}

                        {% if articles.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ articles.next_page_number }}">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
</section>
